@use 'setup' as *;
@use 'variables' as *;
// loading my _queries partial here caused problems. Moved media queries into main SCSS file at the bottom instead.
// @use 'queries' as *;

body {
    background-color: $primaryBackground;
}

img {
    max-width: 100%;
}

// wrapper for all sections except blog and copyright
.wrapper {
    margin: 0 auto;
    max-width: 1080px;
    width: 90%;
}

header {
    background-image: url(../animal-land-assets/image-1.jpg);
    height: 100vh;
    background-position: 33%;
    padding: 50px 0;
    background-size: cover;
}

.upperNav {
    display: flex;
    li {
        margin: 0 10px;
    }
}

/* taking care of hover and keyboard navigation */
nav a,
nav a {
    padding: 5px;
    transition: box-shadow 0.15s ease-in-out;
}

nav a:hover,
nav a:focus {
    box-shadow: 0px 0px 2px 4px #FCFCFC;
}

// positioning favicons to bottom right of header, will be hidden for mobile. 
.icons {
    position: absolute;
    bottom: 15px;
    right: 20px;
    li {
        margin-bottom: 10px;
    }
}

/* taking care of hover and keyboard navigation for favicons */
.icons li:hover,
.icons li:focus {
    color: black;
    background-color: #c3d3cb50;
    border-radius: 50%;
}

// flex settings for Suzie's Story
.feature .wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.imageContainer {
    margin-right: 30px;
    flex-basis: 30%;
}

.textContainer {
    flex-basis: 70%;
    margin-bottom: 80px;
    h2 {
        margin-bottom: 20px;
    }
}

// button styling
.readMore {
    background-color: white;
    color: #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: filter 0.2s ease-in-out;
}

// hover and focus state effects for buttons
.readMore:hover,
.readMore:focus {
    filter: invert(100%);
}

// flex settings for gallery
.gallery {
    background-color: #C3D3CB;
    padding: 50px 30px;
    li {
        flex-basis: 32%;
        padding-top: 20px;
    }
    h3 {
        margin: 30px 100px;
    }
}

.galleryFlex {
    display: flex;
    justify-content: space-between;
}

// aligning the three favicons/links between gallery and blog sections
.linksFlex {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px;
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        i {
            margin-bottom: 20px;
        }
    }
}

// keeping "animal spotlight" on two lines for better spacing
.linksFlex li :nth-child(2){
    text-align: center;
    width: 150px;
}

// focus settings for favicons/links between gallery and blog sections. 10px margin was added to li and removed during hover/focus to prevent the added padding from moving elements
.linksFlex li:hover,
.linksFlex li:focus {
    color: black;
    background-color: #c3d3cb50;
    padding: 10px;
    margin: 0px;
    border-radius: 30%;
}

// blog section, 2x2 grid, full-bleed so flex-basis set at 50%, no wrapper for this section
.blog {
    background-color: #FCFCFC;
    display: flex;
}

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.grid2x2 > div {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    flex-direction: column;
}

.grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
    a {
        background-color: #152D20;
        color: #fcfcfc;
    }
}

// prevent READ MORE buttons from horizontally filling flex container
.readMoreTwo,
.readMoreThree {
    width: fit-content;
}

// applying wrapper settings to the story boxes while allowing the images to bleed to 100% for this section
.storyBox {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

.storyBox div {
    display: flex;
    flex-direction: column;
}

// footer styling
.footerContainer {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}


// input and submit button styling for footer
.emailForm {
    border: none;
    width: 100%;
    padding: 10px;
    text-align: left;
}

// newsletter signup input styling
.newsletterForm {
    text-align: center;
    flex: auto;
    margin-left: 60px;
    h5 {
        margin: 50px 0px 20px 0px;
    }
    p {
        margin-bottom: 18px;
    }
}

button {
    width: 29.5%;
    min-width: 150px;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: black;
    color: #FCFCFC;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    height: 4rem;
    margin-top: 8px;
}

input {
    width: 69.5%;
    font-size: 1.8rem;
    padding: 5px;
    border: none;
    height: 4rem;
}

// contact section styling and hover/focus styling. I'll admit the box-shadow style isn't the best choice but there it is.
.contact {
    text-align: right;
    a {
        transition: box-shadow 0.15s ease-in-out;
    }
    a:hover,
    a:focus {
    box-shadow: 0px 0px 1px 2px #FCFCFC;
    }
}

.copyright {
    margin-top: 80px;
    line-height: 40px;
    text-align: center;
    background-color: #000;
}

// media queries go here
@media (max-width: 1240px) {

    h1 {
        font-size: 9.9vw;
        line-height: 1;
    }
}

@media (max-width: 1042px) {

    // this in-between stage was looking ugly and crowded so I tried to manage it with a slight reduction in font size but I think this flies in the face of the design document, so... I guess I'm fired?
    .feature,
    .gallery {

        p {
            font-size: 1.9rem;
        }

        h2 {
            font-size: 4.4rem;
        }

        h3 {
            font-size: 4.3rem;
        }

        h4 {
            font-size: 3rem;
        }

        a {
            font-size: 2rem;
            margin-top: 10px;
            padding: 5px 10px;
        }
    }
    
    .footerContainer {
        
        h5 {
            font-size: 3rem;
            margin: 50px 0px 20px 0px;
        }
        a,
        p {
            font-size: 1.7rem;
        }
    }
}

// reducing to mobile site formatting at this point
@media (max-width: 768px) {

    .upperNav li {
        display: none;
    }

    h1 {
        text-align: left;
        font-size: 7rem;
        max-width: 50%;
        line-height: 1;
    }

    .icons {
        display: none;
    }

    section .wrapper {
        flex-direction: column;
        text-align: center;

        h2 {
            margin-top: 40px;
            text-align: center;
        }

        p {
            text-align: left;
        }
    }

    .gallery h3 {
        margin: 30px 0px;
    }

    .galleryFlex {
        justify-content: space-between;
        img {
            max-width: 120%;
            // min-width: 130px;
        }
    }

    .galleryFlex li:nth-of-type(3) {
        display: none;
    }

// ran out of time fixing this. links get pushed off screen on mobile.
    .linksFlex li 
    a {
        
        font-size: 2rem;
        i {
        font-size: 2.5em;
        }
    }
    
// arranging boxes so zebra image appears first
    .blog {
        flex-direction: column;
        > :nth-child(1) {
            order: 2;
        }
        > :nth-child(2) {
            order: 1;
            ;
        }
        > :nth-child(3) {
            order: 3;
        }
        > :nth-child(4) {
            order: 4;
        }
        img {
            max-height: 20%;
        }
        > div > div > h4 {
            text-align: center;
            margin: 30px 0px;
        }
        // okay I give up, can't get the readMore buttons to move to center.
        .readMore {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    // I've got flex messiness all around here. I'd love to center things but I'm tired.
    .footerContainer {
        flex-direction: column;
        nav ul {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-around; // so this isn't working either.
        }
    }

    .newsletterForm {

        input, button {
            width: 100%;
        }
    }

    .contact {
        text-align: center;
    }
}