@use 'setup' as *;
@use 'variables' as *;

// fontawesome styling
.fa-solid,
.fa-brands {
        color: white;
}

/* stripping styles/basic styling */
body,
p,
ul,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;

}
body {
    background-color: $primaryBackground;
}

.wrapper {
    margin: 0 auto;
    max-width: 1080px;
    width: 90%;
}

// placeholder to make site navigable for now
img {
    width: 100%;
    max-width: 600px;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}